<ion-content 
	class="royal-bg text-center center"
	style="font-size:300%;" >
	<div class="row row-center">
	<div class="col-10"></div>
	  <div class="col-80">
	  	<img src="img/logo.png" class="img-responsive">
	  </div>
	  <div class="col-10"></div>
  	</div>
	
	<p class="important-light">
	    <a 
	    	class="slick"
	    	style="text-decoration: underline;line-height:100px;" 
	    	ng-click="openLink()">
	    		www.weQuote.it
	    </a>
    	<br/>
        <small>HKT</small>
    </p>
</ion-content>


