<ion-content class="royal-bg has-header has-footer">
<div class="list padding">
    <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Ricerca...">
    </label>
</div>
<ul class="list slick">
    <li class="item important-royal">
      AUTORE 1
    </li>
    <li class="item important-royal">
      AUTORE 2
    </li>
    <li class="item important-royal">
      AUTORE 3
    </li>
    <li class="item important-royal">
      AUTORE 4
    </li>
    <li class="item important-royal">
      AUTORE 5
    </li>
</ul>
</ion-content>
<ion-footer-bar class="bar-light">
 </ion-footer-bar>