<ion-header-bar class="royal-bg has-header bar-subheader padding item item-input-inset">
      <label class="item-input-wrapper"> 
        <i class="icon ion-search placeholder-icon"></i> 
          <input class="item-input-small" type="search" placeholder="Ricerca..." ng-model="query"> 
      </label>
</ion-header-bar>
<ion-content class="royal-bg padding" has-header="true" has-subheader="true">
<ul class="list slick">
    <li class="item important-royal" bindonce ng-repeat="author in authors | filter:query">
      <span bo-text="author.name + '(' + author.count +')'"/>
    </li>
</ul>
</ion-content>