<ion-header-bar class="royal-bg has-header bar-subheader item item-input-inset" style="border-color: transparent; padding-bottom:5px">
      <label class="item-input-wrapper"> 
        <i class="icon ion-search placeholder-icon"></i> 
          <form ng-submit="onSubmit();">
            <input 
              blur-on-submit
              class="item-input-small slick important-royal" 
              type="search" 
              placeholder="Ricerca..." 
              ng-model="query">
          </form>
      </label>
      <button 
        class="button button-icon button-small royal-bg important-light clear-search-button" 
        ng-disabled="!query"
        ng-click="clearText()">
      <i class="ion-close-circled"></i>
      </button>
</ion-header-bar>
<ion-content 
  class="royal-bg padding-left padding-right" 
  has-header="true" 
  has-subheader="true" 
  ng-class="{loading:!loaded}"
  style="padding-top:5px">
  <div class="list slick">
      <div 
        ng-click="toQuotes(object)" 
        class="item important-royal my-item" 
        collection-repeat="object in data | filter:query" 
        collection-item-width="'100%'" 
        collection-item-height="50" 
        ng-style="{height: 50}">
            {{object.toPrint}}
      </div>
  </div>
</ion-content>
<ion-footer-bar class="bar-light">
    <div class="button-bar">
        <a class="button button-icon" ng-click="sortAlphabetically();">
          <i ng-show="sortType === 'name'" class="icon ion-checkmark-round royal"></i>
          <i class="icon sort-alpha-asc royal"></i>
        </a>
        <a class="button button-icon" ng-click="sortCount();">
          <i ng-show="sortType === 'count'" class="icon ion-checkmark-round royal"></i>
          <i class="icon sort-numeric-desc royal"></i>
        </a>
    </div>
</ion-footer-bar>