<ion-content class="royal-bg">
	<form name="createForm" role="form" ng-submit="confirm();">
		<div class="row row-center">
	        <div class="col-10"></div>
	        <div class="col-80">
	       		<label class="item item-input create-item-input item-stacked-label slick">
			    	<span class="input-label important-light">Autore</span>
			    	<span class="pull-right important-light">{{state.author.length || 0}}/30</span>
			    	<input 
			    		blur-on-submit
			    		class="slick important-royal create-input" 
			    		maxlength="30" 
			    		ng-model="state.author"
			    		type="text">
			    	</input>
			  	</label>
			  	<label class="item item-input create-item-input item-stacked-label slick">
			    	<span class="input-label important-light">Testo</span>
			    	<span class="pull-right important-light">{{state.text.length || 0}}/200</span>
			    	<textarea
			    		blur-on-submit
			    		class="slick important-royal create-textarea" 
			    		maxlength="200" 
			    		ng-model="state.text"
			    		type="text">
			    	</textarea>
			  	</label>
	        </div>
	        <div class="col-10"></div>
	    </div>
    </form>
</ion-content>
<ion-footer-bar class="bar-light">
    <div class="button-bar">
    	<a ng-disabled="!isValidData();" class="button button-icon" ng-click="confirm();">
          <i class="icon royal ion-checkmark-circled"></i>
          <span class="slick royal">Conferma</span>
        </a>
        <a class="button button-icon" ng-click="reset();">
          <i class="icon royal ion-android-cancel"></i>
          <span class="slick royal">Pulisci</span>
        </a>
    </div>
</ion-footer-bar>
