  <ion-side-menus>
    <ion-side-menu-content class="royal-bg">
      <ion-header-bar class="bar-light">
       <button 
          menu-toggle="left"
          class="button button-icon icon ion-navicon"></button>
        <h1 class="title important-royal slick">#weQuote</h1>
      </ion-header-bar>
      <ion-content>
      <div class="list padding">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Ricerca...">
        </label>
      </div>
       <swipe-cards>
        <swipe-card 
          class="text-card" 
          ng-style="{'background-image':'url(img/backgrounds/Amore/' + imageUrl + '.png)'}"
          ng-repeat="q in visibleQuotes" 
          on-destroy="cardDestroyed($index)">
          <span class="slick">{{q.text}}</span>
          <span class="author slick">{{q.author}}</span>
        </swipe-card>
      </swipe-cards>
      </ion-content>
      <ion-footer-bar class="bar-light">
        <a 
          class="button button-icon icon ion-loading-a important-royal"
          ng-show="sharing"
        ></a>
        <h1 
          class="title important-royal slick text-disabled" 
          ng-click="share(visibleQuotes[0])">
            {{sharing ? 'Attendi' : 'Condividi'}}
        </h1>
      </ion-footer-bar>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="calm-bg">
      <ion-header-bar class="bar-dark">
        <h1 class="title important-light slick">Menù</h1>           
      </ion-header-bar>
      <ion-content class="has-header">
        <ion-list>
          <ion-item nav-clear menu-close class="item-calm title slick " href="#/authors">
          <i class="icon ion-person-stalker padding"></i>
            Autori
          </ion-item>
          <ion-item nav-clear menu-close class="item-calm title slick" href="#/tags">
          <i class="icon ion-pound padding"></i>
            Tags
          </ion-item>
          <ion-item nav-clear menu-close class="item-calm title slick" href="#/about">
          <i class="icon ion-help-circled padding"></i>
            About
          </ion-item>
          <ion-item nav-clear menu-close class="item-calm title slick" ng-click="exit();">
          <i class="icon ion-log-out padding"></i>
            Esci
          </ion-item>
        </ion-list>
      </ion-content>  
    </ion-side-menu>
  </ion-side-menus>
  <quote-canvas/>
