<ion-header-bar class="bar-light">
	<h1 class="title royal slick">#weQuote</h1>
</ion-header-bar>
<ion-content>
	<div class="list card">
  		<label class="item item-input">
  			<i class="icon ion-search placeholder-icon"></i>
    		<input type="text" placeholder="Cerca...">
  		</label>
		<div class="item item-image">
    		<img src="img/backgrounds/Amore/001.jpg">
  		</div>
  		<div class="item">
  			BANNER AD SENSE
  		</div>
  		<div class="item">
  			<div class="button-bar">
			  <a class="button icon-left ion-chevron-left button-royal"></a>
			  <a class="button button-royal">Share</a>
			  <a class="button icon-right ion-chevron-right button-royal"></a>
			</div>
  		</div>
	</div>
</ion-content>