<ion-header-bar class="bar-light">
	<h1 class="title royal slick">#weQuote</h1>
</ion-header-bar>
<ion-content>
<div class="list padding">
  <label class="item item-input">
  	<i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Ricerca...">
  </label>
</div>
 <swipe-cards>
  <swipe-card 
  	class="text-card" 
  	ng-style="{'background-image':'url(img/backgrounds/Amore/00' + ($index % 5) + '.jpg)'}"
  	ng-repeat="q in quotes">
    <span>{{q.text}}</span>
  </swipe-card>
</swipe-cards>
	<div class="bar bar-footer bar-light">
		<h1 class="title royal slick">Condividi</h1>
	</div>
</ion-content>