<ion-content class="text-center royal-bg" id="loginSection">
	<img width="40%" src="img/logo.png"/>
	<h1 class="light slick">#weQuote</h1>
	<h4 class="light slick">Quote Together</h4>
	
</ion-content>
<div class="padding" style="width:100%;position:absolute;bottom:15px;">
	<button 
		ng-click="login()"
		ng-disabled="busy"
		class="button button-block facebook-bg">
			<i 
			style="font-size: 24px;float:left;" 
			ng-class="{'ion-social-facebook':!busy,'ion-loading-a':busy}"></i>
			Login con Facebook
	</button>

	<button 
		ng-click="login()"
		ng-disabled="busy"
		class="button button-block google-bg">
			<i 
			style="font-size: 24px;float:left;" 
			ng-class="{'ion-social-google':!busy,'ion-loading-a':busy}"></i>
			Login con Google
	</button>
</div>
