<ion-content class="royal-bg">
    <div class="list padding">
      <label class="item item-input"> 
        <i class="icon ion-search placeholder-icon"></i> 
          <input type="search" placeholder="Ricerca..."> 
      </label>
    </div>
     <swipe-cards>
      <swipe-card 
        class="text-card" 
        ng-style="{'background-image':'url(img/backgrounds/Amore/' + imageUrl + '.png)'}"
        ng-repeat="q in state.visibleQuotes" 
        on-destroy="cardDestroyed($index)">
        <span class="slick">{{q.text}}</span>
        <span class="author slick">{{q.author}}</span>
      </swipe-card>
      <swipe-card 
        class="text-card calm-bg"
        on-destroy="destroyTutorial();"> 
        <div class="text-center">
          <span class="slick">
            Scorri verso il basso per leggere le citazioni.  
          </span>
          <div>
            <i style="margin-top:20%;font-size:128pt" class="ion-arrow-down-c"></i>
          </div>
        </div>
      </swipe-card>
    </swipe-cards>
</ion-content>
<ion-footer-bar class="bar-light">
  <a 
    ng-cloak
    class="button button-icon icon important-royal"
    ng-class="{'ion-loading-a':sharing}"
  ></a>
  <h1 
    class="title important-royal slick text-disabled" 
    ng-click="share(state.visibleQuotes[0])">
      {{sharing ? 'Attendi' : 'Condividi'}}
  </h1>
</ion-footer-bar>
<quote-canvas/>