<ion-header-bar class="royal-bg has-header bar-subheader item item-input-inset border-sub-header" style="padding-bottom:5px">
    <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <form ng-submit="onChangeSearch();">
          <input 
            blur-on-submit
            class="item-input-small slick important-royal" 
            type="search" 
            placeholder="Ricerca..." 
            ng-model="state.query.value" 
            ng-blur="onChangeSearch();">
        </form>
    </label>
    <button 
    class="button button-icon button-small royal-bg important-light clear-search-button" 
    ng-disabled="loadingQuote || !state.query.value"
    ng-click="clearText()">
        <i class="ion-close-circled"></i>
    </button>
</ion-header-bar>
<ion-content class="royal-bg text-center center loading">
    <div ng-show="!loadingQuote">
        <quote-card 
            on-swipe-up="previous()"
            on-swipe-down="next()"/>
    </div>
</ion-content>
<ion-footer-bar class="bar-light">
    <div class="button-bar">
        <a 
            class="button button-icon" 
            ng-disabled="loadingQuote || sharing" 
            ng-click="share(state.currentQuote);">
            <i class="icon royal" 
              ng-class="getShareIcon();"></i>
        </a>
        <a 
            class="button button-icon" 
            ng-click="next();"
            ng-disabled="loadingQuote">
            <i class="icon ion-skip-forward royal"></i>
        </a>
        <a 
            class="button button-icon" 
            ng-click="showMenu();"
            ng-disabled="loadingQuote">
            <i class="icon ion-images royal"></i>
        </a>
    </div>
</ion-footer-bar>
