@font-face {
    font-family: 'Lobster';
    src: url('Lobster.otf');
}
body {
    color: white;
}
.slick {
    font-family: 'Lobster';
}
.important-royal {
    color: #5264AE !important;
}
.important-light {
    color: #FFFFFF !important;
}
#loginSection {
    padding-top: 20%;
}
.center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.item-input-wrapper {
    background: #fff !important;
}
.facebook-bg {
    background-color: #2C4388 !important;
    color: white !important;
}
.google-bg {
    background-color: #D43326 !important;
    color: white !important;
}
.quote-card {
    position: fixed;
    z-index: 1000;
    line-height: 40vw;
    border-radius: 12px;
    border-width: 6px;
    border-style: solid;
    border-color: #98A4D7;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center top;
}
.clear-search-button {
    border-style: none !important;
}
.border-sub-header {
    border-style: none !important;
}
.text-card {
    display: table;
    color: #fff;
    word-wrap: break-word;
    line-height: 100% border: 6px solid #A9B5E3;
    text-align: center;
}
.text-card span {
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
    width: 80%;
    font-size: 20px;
}
.text-card .author {
    font-style: italic;
    position: absolute;
    bottom: 50px;
}
#shareButton {
    position: fixed;
    bottom: 10px;
}
.loading {
    background-image: url(../img/spin.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
}
.quote-card.ng-enter, .quote-card.ng-leave {
    -webkit-transition: 2s linear all;
    transition: 2s linear all;
}
.quote-card.ng-enter, .quote-card.ng-leave.ng-leave-active {
    opacity: 0;
}
.quote-card.ng-leave, .quote-card.ng-enter.ng-enter-active {
    opacity: 1;
}

.my-item {
  left: 0;
  right: 0;
}

.sort-alpha-asc:before{
    font-family: 'FontAwesome';
    content: "\f15d";
    font-size: 30px !important;
}

.sort-alpha-asc:before{
    font-family: 'FontAwesome';
    content: "\f15d";
    font-size: 30px !important;
}

.sort-numeric-asc:before{
    font-family: 'FontAwesome';
    content: "\f162";
    font-size: 30px !important;
}

.sort-numeric-desc:before{
    font-family: 'FontAwesome';
    content: "\f163";
    font-size: 30px !important;
}

.sort:before{
    font-family: 'FontAwesome';
    content: "\f0dc";
    font-size: 30px !important;
}

.sort-asc:before{
    font-family: 'FontAwesome';
    content: "\f0de";
    font-size: 30px !important;
}

.sort-desc:before{
    font-family: 'FontAwesome';
    content: "\f0dd";
    font-size: 30px !important;
}


.img-responsive{
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

.create-item-input{
    padding-left: 0px;
    border-style: none;
}

.create-input{
   font-size: 1.8em !important;
   height:2.2em !important;
}

.create-textarea{
    font-size: 1.8em;
    height:9em;
    line-height: 1.8em;
}
