@font-face {
  font-family: 'Lobster';
  src: url('Lobster.otf');
}

body{
	color:white;
}

.slick{
	font-family: 'Lobster';
}

.important-royal{
  color: #5264AE !important;
}

#loginSection{
	padding-top: 20%;
}

.facebook-bg{
	background-color: #2C4388 !important;
	color:white !important;
}

.google-bg{
	background-color: #D43326 !important;
	color:white !important;
}

.swipe-cards {
  position: fixed;
}

.swipe-card {
  display: none;
  position: fixed;
  -webkit-transform: scale(1,1);
  top:15vh;
  left: 5vw;
  width: 90vw;
  height: 90vw;
  line-height: 40vw;
 box-sizing: border-box;
   border-radius: 4px;
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
}

.text-card {
  display: table;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  word-wrap: break-word;
  line-height: 100%
  border: 6px solid #A9B5E3;
  text-align: center;
}

.text-card span {
  display: table-cell;
  vertical-align: middle;
  line-height: normal;      
  width: 80%;
  font-size: 20px;
}

.text-card .author{
  font-style: italic;
  position: absolute;
  bottom: 50px;
}

#shareButton{
	position: fixed;
 	bottom: 10px;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

.swipe-card.pop-in-start {
  -webkit-transform: scale(0,0);
}
.swipe-card.pop-in {
  -webkit-animation: bounceIn 0.4s ease-out;
}